html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #000000;
}
#speech {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #000;
}
#left-over{
    position: absolute;
    left:70%;
    height: 100%;
    background-color: #000;
}
.words{
    position:relative;
    height:10%;
}
.canvas{
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    z-index: 1;
}
.interim {
    position: absolute;
    color: white;
}
.final {
    position: absolute;
    color: "rgb(255,0,255)";
}